{# INTRO SECTION #}

{{ intro_paragraph }}


{# GEM SECTION #}

[center][img]http://i.imgur.com/5f2flrF.jpg[/img][/center]

{% for gem in gem_list %}

[center][url={{gem['url']}}][img]{{gem['banner']}}[/img][/url][/center]

{{ gem['text1'] }}

[img]{{ gem['screenshot'] }}[/img] 

{{ gem['text2'] }}

{% endfor %}


{# WHAT HAPPENED SECTION #}

[center][img]http://i.imgur.com/QAoqBMe.jpg[/img][/center]  



{% if loser_paragraphs %}

[b][u]The Losers[/u][/b]

{{ loser_paragraphs }}

{% endif %}



{% if winner_paragraphs %}

[b][u]The Winners[/u][/b]

{{ winner_paragraphs }}

{% endif %}



{% if running_paragraphs %}

[center][img]http://i.imgur.com/2jRoLup.jpg[/img][/center]   

{{ running_paragraphs }}

{% endif %}


{# BIGGIE SECTION #}

[center][img]http://i.imgur.com/OjTu4aE.jpg[/img][/center]   

{% for biggie in biggie_list %}

[center][url={{ biggie['url'] }}] [img]{{ biggie['banner'] }}[/img] [/url][/center]   

{{ biggie['text1'] }}

[img]{{ biggie['screenshot'] }}[/img] 

{{ biggie['text2'] }}

{% endfor %}


{# CLOSING SECTION #}

{{ conclusion_paragraph }}

[b]Usual plea for help:[/b]

Please PM one of the team: ([b]scaine[/b], [b]Speedster[/b], [b]muntdefems[/b], [b]flesk[/b], and [b]DrMcCoy[/b]) if you think you can help or just want to chat about crowdfunding. And of course, remember that you can use the comments, [url=http://www.gamingonlinux.com/crowdfunding/index.php5/List_of_crowdfunding_games]Wiki[/url], or [url=http://www.gamingonlinux.com/forum/]forums[/url] to keep us updated on any suggestions that you'd like to see covered.
